<!-- about.html -->
	<div class="row row-broken"><!--섹션1-->
	 <div class="col-md-11">
	  <ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>	  
        <li>{{ message }}</li>
        <li> Title : {{ msg }}</li>
      </ol>
	 </div>	
    </div>

	
	<div class="asgnmemsrch_res_wrapper"><!--res_wrapper-->
		<div class="asgnmemsrch_res_container"><!--res_container-->
		
			<div ng-show="showUser" class="asg_button asign-showuser">
				<h4>배정고객: {{tUser}}</h4>

				<pre>다시배정: {{obj.dentName}}/{{obj.mobile}} </pre>

				<input type="text" ng-change="hideDentalInfo()" ng-model="obj" placeholder="검색해주세요" typeahead="obj as (obj.dentName + ' / ' + obj.mobile) for obj in getDentalCode($viewValue)" typeahead-loading="loadingMemcode" typeahead-on-select='onSelect($item, $model, $label)' class="form-control"  kr-input>
				<i ng-show="loadingMemcode" class="glyphicon glyphicon-refresh"></i>

				<button ng-click="saveUser()">다시배정</button>
				<button ng-click="clsShowUser()">닫기</button>
				<button ng-click="refreshUserList()">refresh</button>				

			</div>



			<div class="row">
				<div class="col-sm-8 col-sm-offset-2" style="margin-top:20px;">
				  <veasy-table list="people" selected-items="selecteds" config="config"></veasy-table>
				</div>
			</div>
			  
			<!--<p>{{ test_string }}</p>-->
			
		</div><!--//res_container-->	
	</div><!--//res_wrapper-->	