<!-- about.html -->
    <div class="row row-broken"><!--섹션1-->
	 <div class="col-md-11">
	  <ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
        <li>{{ message }}</li>
        <li> Title : {{ msg }}</li>
	  </ol>	
	 </div>	
    </div><!--//섹션1-->		

    <!--
    <pre>Model: {{asyncMemcode}}</pre>
    <input type="text" ng-model="asyncMemcode" placeholder="member code loaded via $http" uib-typeahead="name for name in getMemCode($viewValue)" typeahead-loading="loadingMemcode" typeahead-no-results="noMemcode" class="form-control">
    -->


    <!--
    <pre>Model: {{obj.dentName}}/{{obj.mobile}} </pre>
    <pre>activeName: {{activeName}}</pre>
    <pre>activeCode: {{activeCode}}</pre>
    -->
    <!--
    <input type="text" ng-model="obj" placeholder="Dental Info loaded via $http" uib-typeahead="obj as (obj.dentName + ' / ' + obj.mobile) for obj in getDentalCode($viewValue)" typeahead-loading="loadingMemcode" typeahead-no-results="noMemcode" typeahead-on-select='onSelect($item, $model, $label)' class="form-control">
    <i ng-show="loadingMemcode" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noMemcode">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
    -->


<!--
    <h4>testMemcode for typeahead's dropdown</h4>
    <pre>Test Model: {{testMemcode | json }}</pre>
-->

    <div class="densrch_res_wrapper"><!--res_wrapper-->
	    <div class="densrch_res_container"><!--res_container-->
			<div class="denSrch-search">
				<h4>치과 검색</h4>	
				
				<input type="text" ng-model="obj" placeholder="치과를 입력해주세요" typeahead="obj as (obj.dentName + ' / ' + obj.mobile) for obj in getDentalCode($viewValue)" typeahead-loading="loadingMemcode" typeahead-on-select='onSelect($item, $model, $label)' class="form-control" kr-input>
				<i ng-show="loadingMemcode" class="densrch_icon glyphicon glyphicon-refresh"></i>
			</div>


			
			<div class="container-fluid-denSrch denSrch-search-table">
				
				<table class="table table-striped table-hover table-bordered">
				  <thead>
					<tr>
					  <th>아이디</th>
					  <th>치과이름</th>
					  <th>의사이름</th>
					  <th>주소</th>
					  <th>핸드폰</th>
					  <th>전화번호</th>
					</tr>
				  </thead>
				  <tbody>
					<tr ng-repeat="obj in objects | filter : paginate">
					  <td>{{obj.dentIdx}}</td>
					  <td>{{obj.dentName}}</td>
					  <td>{{obj.doctName}}</td>
					  <td>{{obj.address}}</td>
					  <td>{{obj.mobile}}</td>
					  <td>{{obj.tel}}</td>
					</tr>
				  </tbody>
				</table>
				<pagination total-items="totalItems" ng-model="currentPage"
				  max-size="5" boundary-links="true"
				  items-per-page="numPerPage" previous-text="<" next-text=">" first-text="<<" last-text=">>" class="pagination-sm">
				</pagination>

			</div>
		</div><!--//res_container-->	
	</div><!--//res_wrapper-->	
		
			<p>{{ test_string }}</p>

<!--
<table st-table="rowCollection" class="table">
<thead>
<tr>
	<th st-sort="firstName">first name</th>
	<th st-sort="lastName">last name</th>
	<th st-sort="birthDate">birth date</th>
	<th st-sort="balance">balance</th>
	<th>email</th>
</tr>
</thead>
<tbody>
<tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in rowCollection">
	<td>{{row.firstName | uppercase}}</td>
	<td>{{row.lastName}}</td>
	<td>{{row.birthDate | date}}</td>
	<td>{{row.balance | currency}}</td>
	<td><a ng-href="mailto:{{row.email}}">email</a></td>
</tr>
</tbody>
</table>
-->