<!-- about.html -->
    <div class="row row-broken"><!--섹션1-->
	 <div class="col-md-11">
	  <ol class="breadcrumb">
	    <li><a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
        <li>{{ message }}</li>
        <li> Title : {{ msg }}</li>
	  </ol>	
	 </div>	
	</div><!--//섹션1-->	
	
	<div class="res_wrapper">
		<div class="res_container">
			<h1>신규 회원 등록</h1>
			<form id="contact">
				
				<div class="line">
					<label>회원이름:</label>
					<input id="name" name="name" type="text" placeholder="회원이름" ng-model="name" ng-required="true" kr-input ng-minlength="2" />
					<span style="color:red" ng-show="memRegForm.name.$dirty && memRegForm.name.$invalid">
					<span ng-show="memRegForm.name.$error.required">회원 이름 이 필요합니다.</span>
					<span ng-show="memRegForm.name.$error.minlength" class="col-xs-12 col-md-12 alert alert-warning" role="alert">회원 이름 은 최소 2글자 이상 입력가능합니다.</span>					
				</div>
				
				<div class="line">
					<label>생년월일:</label>
					<input id="birth" name="birth" type="text" placeholder="생년월일" ng-model="birth" ng-required="true" ng-minlength="6"/>
					<span style="color:red" ng-show="memRegForm.birth.$dirty && memRegForm.birth.$invalid">
					<span ng-show="memRegForm.birth.$error.required">생년 월일 이 필요합니다.</span>
					<span ng-show="memRegForm.birth.$error.minlength" class="col-xs-12 col-md-12 alert alert-warning" role="alert">생년 월일 은 최소 6글자 이상 입력가능합니다.</span>					
				</div>
				
				<div class="line">
					<label>주소:</label>
					<input id="address" name="address" type="text" placeholder="주소" ng-model="address" ng-required="true" kr-input/>
					<span style="color:red" ng-show="memRegForm.address.$dirty && memRegForm.address.$invalid">
					<span ng-show="memRegForm.address.$error.required">주소가 필요합니다.</span>					
				</div>
				
				<div class="line">
					<label>휴대폰:</label>
					<input id="mobile" name="mobile" type="text" placeholder="휴대폰" ng-model="mobile" ng-required="true" />
					<span style="color:red" ng-show="memRegForm.mobile.$dirty && memRegForm.mobile.$invalid">
					<span ng-show="memRegForm.mobile.$error.required">휴대폰 번호가 필요합니다.</span>					
				</div>
				
				<div class="line">
					<input type="submit" name="Submit" value="전송" class="button" ng-click="saveMemberView()" ng-disabled="memRegForm.name.$dirty && memRegForm.name.$invalid || memRegForm.birth.$dirty && memRegForm.birth.$invalid || memRegForm.address.$dirty && memRegForm.address.$invalid || memRegForm.mobile.$dirty && memRegForm.mobile.$invalid"></button>
				</div>	
					
			</form>
		</div>
	</div>