		<div class="row row-broken"><!--섹션1-->
			<div class="col-md-11">
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
					<li>{{ message }}</li>
					<li> Title : {{ msg }}</li>
				</ol>
			</div>
		</div><!--//섹션1-->

		<div class="asgnmemsrch_res_wrapper"><!--res_wrapper-->

			<div class="asgnmemsrch_res_container"><!--res_container-->
			
				<div ng-show="showUser" class="asign-showuser">
					<form name="imgRegForm" novalidate>
						 <p>
							<!--
							Value 1 : <input type="text" ng-model="val1"/> <br/>
							Value 2 : <input type="text" ng-model="val2"/> <br/>
							mem obj id : <input type="text" ng-model="mem_obj_id"/> <br/>
							-->
						<h3 style="font-weight: bold;">이미지 파일 :</h3><br/><br/>
						<input style="margin: 0 auto; padding-left: 110px;" type = "file" file-model = "myFile"/> <br/>
						<button style="background-image: linear-gradient(#00BCD4, #00BCD4); font-weight:bold; color:#fff; border: 1px solid #00BCD4;" class="upload-image" ng-click = "uploadFile()">
						이미지 업로드 하기</button>
						 </p>
							<!--
						<p>Image File : <input type="file" name="myFile" file-model = "myFile" ng-required="true"/>
						<span style="color:red" ng-show="imgRegForm.myFile.$dirty && imgRegForm.myFile.$invalid">
						<span ng-show="imgRegForm.myFile.$error.required">x-ray 사진 이 필요합니다.</span>
						</span>
						</p>

						<button ng-click="uploadFile()" ng-disabled="imgRegForm.myFile.$dirty && imgRegForm.myFile.$invalid">upload image</button>
							-->
						<button style="margin-left:2px; " ng-click="clsShowUser()">닫기</button>
						<button style="margin-left:8px; " ng-click="refreshUserList()">refresh</button>						
						
					</form>

				</div>



				<div class="row">
					<div class="col-sm-8 col-sm-offset-2" style="margin-bottom: 30px;margin-top: 30px;">
					  <veasy-table list="people" selected-items="selecteds" config="config"></veasy-table>
					</div>
				</div>
					
					<!--<p>{{ test_string }}</p>-->
					
			</div><!--//res_container-->		
	
		</div><!--//res_wrapper-->	